/* Universal Styles */

html {
    font-size: 16px;
    background-color: rgb(216, 216, 216);
}

body {
    margin: auto;
}

/* Header Section */

header {
    display: flex;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

header div {
    display: flex;
}

strong {
    color: rgb(74, 74, 74);
}

span {
    color: rgb(155, 155, 155);
}

ul {
    display: flex;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 16px;
    color: rgb(74, 74, 74);
}

.mobile-header {
    display: none;
}

/* Banner Section */

.banner {
    display: flex;
    align-items: center;
}

.banner img {
    width: 60%;
    padding: 32px 24px 32px 24px;
}

.banner-right {
    padding-right: 150px;
}

.banner h1 {
    font-size: 3.2rem;
    color: rgb(74, 74, 74);
}

.subhead {
    font-size: 2rem;
    color: rgb(74, 74, 74);
}

.button {
    font-size: 1.5rem;
    background-color: rgb(74, 74, 74);
    color: white;
    text-align: center;
    padding: 8px 20px 8px 20px;
}

/* Main Section */

.main {
    background-color: rgb(243, 245, 245);
    display: inline-flex;
    width: 100%;
}

.main-left {
    padding: 32px 24px;
    width: 60%;
}

.main-left img {
    width: 60%;  
}

.content-main h2 {
    font-size: 2.5rem;
    color: rgb(74, 74, 74);
}

.content-main p {
    width: 60%;
}

.item img {
    width: 35%;
    height: auto;
    padding: 16px;
    
}

div .item {
    display: flex;
    border: solid rgb(224, 226, 226) 1px;
}



/* Courses Section */

/* Thesis Section */

/* Footer Section */