/* Universal Styles */

html {
    font-size: 16px;
    background-color: rgb(243, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

/* Header Section */

header {
    display: flex;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

header div {
    display: flex;
}

.logo {
    width: 40px;
}

.logo-header {
    font-size: 1.5rem;
}

strong {
    color: rgb(74, 74, 74);
}

span {
    color: rgb(155, 155, 155);
}

ul {
    display: flex;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 16px;
    color: rgb(74, 74, 74);
}

.mobile-header {
    display: none;
}

/* Banner Section */

.banner {
    display: flex;
    align-items: center;
    background-color: rgb(216, 216, 216);
}

.banner img {
    width: 60%;
    padding: 32px 24px;
}

.banner-right {
    padding-right: 100px;
}

.banner h1 {
    font-size: 3.2rem;
    color: rgb(74, 74, 74);
}

.subhead {
    font-size: 2rem;
    color: rgb(74, 74, 74);
}

.button {
    font-size: 1.5rem;
    background-color: rgb(74, 74, 74);
    color: white;
    text-align: center;
    padding: 8px 20px 8px 20px;
}

/* Main Section */

 .main {
    background-color: rgb(243, 245, 245);
    display: flex;
}

.main-left {
    padding: 32px 24px;
    max-width: 60%;
}

.main-left img {
    width: 100%;  
}

.content-main h2 {
    font-size: 2.5rem;
    color: rgb(74, 74, 74);
    padding-top: 32px;
    margin: 0;
}

.content-main p {
    margin: 0;
    padding: 24px 0;
    font-size: 1.05rem;
    width: 95%;
}

.main-right {
    max-width: 40%;
    border-left: solid rgb(224, 226, 226) 1px;
    padding-top: 16px;
}

.item img {
    max-width: 35%;
    height: auto;
    padding: 16px;
}

div .item {
    display: flex;
    border-bottom: solid rgb(224, 226, 226) 1px;
}

div .content-information {
    margin: auto 0;
}

.content-information p {
    padding: 8px 8px 8px 0px;
    margin: 0;
    font-size: 1.05rem;
}

.content-information h3 {
    margin: 0;
    font-size: 1.4rem;
}

.item a {
    text-decoration: none;
}

div #guest {
    background-color: rgb(216, 216, 216);
}

/* Courses Section */

section.courses {
    padding: 32px 72px;
    background-color: rgb(234, 235, 236);
}

.flex-courses {
    display: flex;
    flex-wrap: wrap;
}

div.courses-item {
    background-color: rgb(255, 255, 255);
    margin-top: 32px;
    margin-bottom: 32px;
}

.courses-item img {
    height: auto;
}

/* Thesis Section */

.thesis {
    background-color: rgb(243, 245, 245);
    border-bottom: solid 3px rgb(233, 235, 235);
}

.flex-thesis {
    display: inline-flex;
}

.thesis video {
    width: 60%;
}

div .thesis-right {
    display: block;
}

div .item-thesis {
    display: flex;
}

/* Footer Section */

footer {
    background-color: rgb(243, 245, 245);
}